<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
     <html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
       xmlns:f="http://java.sun.com/jsf/core" 
       xmlns:p="http://primefaces.org/ui"> 
      
<h:head>
<script name="jquery/jquery.js" library="primefaces"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
       <script>
		function justCall(){
			alert('Push Action');
		}
	</script>
       
</h:head>
<h:body>
<h:form> 
    Username: <p:inputText value="#{user.username}"></p:inputText>
	<br/>
	Password: <p:password value="#{user.password}"></p:password>
	<br/>
	<p:commandButton value="Login" action="#{user.doSomeAction}"></p:commandButton>
	#{''}
	<p:commandButton value="Rest" type="reset"></p:commandButton>
	#{''}
	<p:commandButton value="Push" type="button" onclick="justCall();"></p:commandButton>
  
       
</h:form>

</h:body>
</html>